<div class="container-fluid logincontenedor">
    <div class="col">
        <form action="/admin/login" method="post">
            <label for="usuario" class="form-label">UsuarioAdm</label>
            <input class="placeholder" type="email" class="form-control" id="usuario" name="usuario"
                placeholder="name@example.com">
    </div>
    <div class="col">
        <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
        <input class="placeholder" type="password" class="form-control" id="password" name="password"
            placeholder="*******">
    </div>
    <div>
        <button type="submit" class="btn btn-warning buttom">Enviar</button>
    </div>
    </form>
    {{#if error}}
    <p>Usuario o contraseña inexistente. Por favor, vuelva a intentarlo.</p>
    {{/if}}
</div>