   <!-- TALLER -->

    <div class="container-fluid">
        <p class="h1 text-center">Herramientas del emprendedor</p>
    </div>

    <div class="container-fluid contenedor">
        <aside>
            <h3 class="titulo">Temas</h3>
            <nav class="indice">
                <a href="#clese-1">Clase nº 1</a>
                <a href="#clese-2">Clase nº 2</a>
                <a href="#clese-3">Clase nº 3</a>
                <a href="#clese-4">Clase nº 4</a>
            </nav>
        </aside>
        <div class="contenido">
            <div class="post">
                <h3 class="clase" id="clese-1">Clase nº 1</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod scelerisque erat tincidunt
                    hendrerit. Cras lobortis id diam sit amet consectetur. Suspendisse non pulvinar justo, ac commodo
                    velit. Quisque maximus dolor ac magna molestie, sit amet commodo velit congue. Maecenas non dolor ut
                    elit malesuada congue. Phasellus euismod nisi pharetra ante rutrum dignissim. Ut eget tortor ut
                    sapien egestas sollicitudin. Aenean pulvinar varius augue, ac euismod tortor faucibus at. In commodo
                    sodales turpis nec vehicula. Mauris luctus, risus non iaculis porttitor, felis eros sagittis enim,
                    sed ultricies lacus magna quis urna.
                    <a class="btn btn-warning boton-vivo" href="#" role="button">Vivo Instagram</a>
                </p>
            </div>
            <div class="post">
                <h3 class="clese" id="clese-2">Clase nº 2</h3>
                <p>
                    Ut sit amet vehicula lectus, nec vestibulum purus. Nulla a nibh magna. Pellentesque commodo commodo
                    sapien eu sagittis. Aenean luctus mauris sit amet quam ornare, eu ultricies nunc auctor. Nulla
                    volutpat purus eu venenatis facilisis. Nulla risus nisl, rhoncus vitae pulvinar nec, viverra eu
                    odio. Duis nisi quam, gravida sed imperdiet sed, viverra fermentum turpis. Cras non iaculis augue,
                    nec scelerisque nibh. Sed auctor dolor mi, sit amet placerat tellus sagittis eu. Curabitur nec
                    luctus dolor. Ut congue rutrum vehicula. Ut viverra tincidunt nunc, vitae cursus nulla scelerisque
                    aliquam.
                </p>
                <a class="btn btn-warning boton-vivo" href="#" role="button">Vivo Instagram</a>
            </div>
            <div class="post">
                <h3 class="clase" id="clese-3">Clase nº 3</h3>
                <p>
                    Aliquam congue nibh in urna porta blandit. Mauris nec mi elit. Duis ligula quam, suscipit nec
                    hendrerit ac, efficitur pulvinar tortor. Quisque venenatis leo ac hendrerit molestie. Quisque
                    malesuada, enim ut feugiat finibus, sem mi faucibus enim, vel rhoncus ante justo in nibh. Duis sit
                    amet ipsum tempus, pellentesque ex sed, mollis erat. Sed metus nibh, tincidunt vel laoreet eget,
                    bibendum at est.
                </p>
                <a class="btn btn-warning boton-vivo" href="#" role="button">Vivo Instagram</a>
            </div>
            <div class="post">
                <h3 class="clase" id="clese-4">Clase nº 4</h3>
                <p>
                    Nullam ullamcorper tincidunt laoreet. Donec sapien sapien, egestas id justo et, tincidunt accumsan
                    ipsum. Etiam molestie lectus a consectetur condimentum. Donec malesuada at sapien eu viverra.
                    Integer rutrum libero vitae est semper malesuada. Quisque convallis enim et erat aliquam, a
                    facilisis nunc posuere. Nulla ultrices, turpis in pulvinar feugiat, dolor enim interdum mauris,
                    vitae egestas purus orci vel nibh. Aliquam eleifend est ac eleifend dictum. Nunc condimentum
                    tincidunt placerat. Praesent varius ornare quam vitae placerat. Donec justo sapien, pretium vitae
                    vestibulum at, molestie eu ipsum. Proin non turpis eget risus egestas ornare in nec tortor. Sed
                    commodo lectus vitae tortor blandit, id auctor mauris tempus. Aliquam erat volutpat.
                </p>
                <a class="btn btn-warning boton-vivo" href="#" role="button">Vivo Instagram</a>
            </div>
        </div>
    </div>

    <!-- SUGERIR OTROS CURSOS -->

    <div class="container-fluid talleres">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <img src="./IMG/img-cards/altorendimiento.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Equipo de alto rendimiento</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <a class="btn btn-warning boton" href="equipo-altorendimiento.html" role="button">Equipo de alto
                            rendimiento</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <img src="./IMG/img-cards/autoestima.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Autoestima</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <a class="btn btn-warning boton" href="autoestima.html" role="button">Autoestima</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <img src="./IMG/img-cards/inteligenciaemocional.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Inteligencia emocional</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content.</p>
                        <a class="btn btn-warning boton" href="inteligencia-emocional.html" role="button">Inteligencia
                            emocional</a>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-warning w-100 boton-otrostalleres">
            <a class="nav-link text-white" href="talleres.html">Conoce otros talleres. Aquí!</a>
        </button>
    </div>
