    <!-- SOBRE MI -->

    <div class="container-fluid sobremi">
        <p class="fst-italic">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates beatae earum
            quam, consequuntur reprehenderit aspernatur sed quis, alias aliquid eligendi officiis et architecto, aperiam
            velit provident distinctio magni saepe totam.</p>
        <P class="fst-italic">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eligendi eum expedita corporis? Nesciunt
            animi harum blanditiis labore hic, ad cumque explicabo autem atque nulla ipsam laudantium obcaecati porro?
            Fugiat!
        </P>
        <P class="fst-italic">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores alias quod, obcaecati rerum inventore
            reiciendis dolores eligendi vel labore doloremque, aperiam sunt nobis odit minima at ducimus dolorem, quos
            provident.
        </P>
        <P class="fst-italic">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores alias quod, obcaecati rerum inventore
            reiciendis dolores eligendi vel labore doloremque, aperiam sunt nobis odit minima at ducimus dolorem, quos
            provident.
        </P>
        <P class="fst-italic">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores alias quod, obcaecati rerum inventore
            reiciendis dolores eligendi vel labore doloremque, aperiam sunt nobis odit minima at ducimus dolorem, quos
            provident.
        </P>
        <P class="fst-italic">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores alias quod, obcaecati rerum inventore
            reiciendis dolores eligendi vel labore doloremque, aperiam sunt nobis odit minima at ducimus dolorem, quos
            provident.
        </P>
    </div>