<!-- TALLERES -->

    <div class="container-fluid">
        <p class="h1 text-center"> <!-- Hola <b>{{usuario}}</b>--> Disfruta de Todos los talleres</p>
        {{!-- <a class="btn btn-warning boton" href="/admin/login/logout" role="button">Cerrar sessión</a> --}}
    </div>

    <div class="container-fluid talleres">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="resolucion">
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <div class="zoom">
                    <img src="./images/img-cards/altorendimiento.jpg" class="card-img-top" alt="...">
                </div>
                    <div class="card-body">
                        <h5 class="card-title">Equipo de alto rendimiento</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-warning boton" href="equipo-altorendimiento.html" role="button">Taller
                                    gratuito</a>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-warning boton" id="btn-warning">Más info.</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <div class="zoom">
                    <img src="./images/img-cards/autoestima.jpg" class="card-img-top" alt="...">
                </div>
                    <div class="card-body">
                        <h5 class="card-title">Autoestima</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-warning boton" href="autoestima.html" role="button">Taller
                                    gratuito</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-warning boton" href="index#form" role="button">Más info.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <div class="zoom">
                    <img src="./images/img-cards/inteligenciaemocional.jpg" class="card-img-top" alt="...">
                </div>
                    <div class="card-body">
                        <h5 class="card-title">Inteligencia emocional</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content.</p>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-warning boton" href="inteligencia-emocional.html" role="button">Taller
                                    gratuito</a>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-warning boton">Más info.</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <div class="zoom">
                    <img src="./images/img-cards/lideres.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Entrenando líderes</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-warning boton" href="entrenando-lideres.html" role="button">Taller
                                    gratuito</a>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-warning boton">Más info.</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <div class="zoom">
                    <img src="./images/img-cards/como-coachear.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Cómo coachearte</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-warning boton" href="como-coachearte.html" role="button">Taller
                                    gratuito</a>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-warning boton">Más info.</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 border-warning border border-3">
                    <div class="zoom">
                    <img src="./images/img-cards/herramientas-emprendedor.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Herramientas del emprendedor</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-warning boton" href="herramientas-emprendedor.html"
                                    role="button">Taller gratuito</a>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-warning boton">Más info.</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- FORMULARIO POP UP 

    <div class="container fluid fondo-popup mostrar" id="mostrar">
        <div class="popup" id="popup">
            <a href="#" class="boton-cerrar-popup" id="boton-cerrar-popup"> <svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg></a>
            <form action="contacto" method="post" class="formulario-popup">

                <input class="placeholder-pop-up fs-5" type="text" placeholder="Nombre y apellido" name="nombre" id="nombre">

                <input class="placeholder-pop-up fs-5" type="text" placeholder="e-mail" name="mail" id="mail">

                <textarea class="placeholder-pop-up fs-5" name="mensaje" id="mensaje" cols="10" rows="5"
                    placeholder="Escriba su mensaje"></textarea>

                <input class="fs-5 boton-formulario-popup" type="submit" value="Enviar">

        </div>

    </div>

    -->